* {
    margin: o;
    padding 0;
    box-sizing: border-box;
}

html,
body {
    width 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1542708993627-b6e5bbae43c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1444&q=80);
    font-family: sans-serif;
    background-size: cover;
}

nav {
    width: 100%;
    height: 100px;
   color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2.4em;
    letter-spacing: 2px;
}
.menu a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top: o;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid #d47c7c;
    transition: 0.4s linear;
    
    
}
.menu a:hover:before{
    width: 90%
}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: #d47c7c;
    border-radius: 10px;
    transition: 0.4s;
}
.register a:hover{
    background: transparent;
    border: 1px solid #d47c7c;
    transition: 0.4s;
}
.headertext{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.headertext span{
    letter-spacing: 5px;
}
.headertext h1{
    font-size: 3.5em;
}
.headertext a{
    text-decoration: none;
    background: #d47c7c;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
}
.headertext a:hover{
    background: transparent;
    border: 1px solid #d47c7c;
    transition: 0.4s;